.main {
  padding: 30px 20px 0;
  width: 60%;
  max-width: 935px;
  margin: 0 auto;
}
.name {
  font-weight: normal;
  font-size: 2em;
}
.posts {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.postsInfo {
  margin-top: 0.5em;
  font-size: 1.25em;
}
.bio {
  margin: 0.5em 0;
  font-size: 1.25em;
}
.profile {
  display: flex;
}
.photo {
  border-radius: 50%;
  overflow: hidden;
  height: 100px;
  cursor: pointer;
}
.details {
  margin-left: 4em;
  display: flex;
  flex-direction: column;
}
.photos {
  margin-left: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadPhoto {
  background: #0575e6;
  cursor: pointer;
  color: white;
  border: transparent;
  padding: 0.5em 1em;
  border-radius: 4px;
}
@media (max-width: 400px) {
  .main {
    width: 96%;
    margin: 0 auto;
  }
  .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: unset;
    margin-bottom: 1em;
  }
  .uploadPhoto {
    height: 40px;
    width: 100%;
  }
  .photos {
    margin-left: 0;
  }
  .posts {
    display: block;
  }
  .profile {
    display: block;
  }
  .details {
    margin: 0;
  }
  .post {
    width: 100%;
  }
}
