.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
}

.Modal {
  position: relative;
  width: 90%;
  max-width: 1200px;
  max-height: 90%;
  background: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  border-radius: 10px;
  overflow: hidden;
}

.Hidden {
  display: none;
  z-index: -1;
}

@media (max-width: 450px) {
  .Modal {
    min-width: 100%;
    min-height: 98%;
  }
}
